[submodule "src/pkgs/imguizmo"]
	path = src/pkgs/imguizmo
	url = git@github.com:CedricGuillemet/ImGuizmo.git
[submodule "src/pkgs/imgui-docking"]
	path = src/pkgs/imgui-docking
	url = git@github.com:ocornut/imgui.git
	branch = docking
[submodule "src/pkgs/SPIRV-Cross"]
	path = src/pkgs/SPIRV-Cross
	url = git@github.com:KhronosGroup/SPIRV-Cross.git
