################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/bin/Debug-x64
/bin-int/Debug-x64


#files
*.user
/bin-int/Debug-windows-x86_64
/bin/Debug-windows-x86_64
/Hazel/Hazel.vcxproj
/Hazel/Hazel.vcxproj.filters
/SandBox/Sandbox.vcxproj
/Hazel.sln
