# Xmake cache
.xmake/
build/

# MacOS Cache
.DS_Store


# Clangd
.cache
compile_commands.json

# Vscode
# .vscode
.vscode/launch.json
.vscode/tasks.json

# Binaries
bin
output
imgui.ini

tmp
.idea

cache
*.log

vs2022